Source: runc
Section: admin
Priority: optional
Maintainer: Docker <support@docker.com>
Build-Depends: bash,
               bash-completion,
               debhelper (>= 10~) | dh-systemd,
               pkg-config,
               libseccomp-dev
Standards-Version: 4.1.4
Homepage: https://github.com/opencontainers/runc
Vcs-Browser: https://github.com/opencontainers/runc
XS-Go-Import-Path: github.com/opencontainers/runc

Package: runc
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Open Container Project - runtime
 "runc" is a command line client for running applications packaged according
 to the Open Container Format (OCF) and is a compliant implementation of
 the Open Container Project specification.
